# Logs
npm-debug.log*

#PHPStorm
.idea/*.*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Samples JSON Configuration Files
samples/*.json

samples/test.js

#HAP Specification
HAP-Specification-Non-Commercial-Version.pdf
